/* reset css style */
@import 'reset.css';
/* fonts */
@font-face{
    font-family: 'olivier';
    src: url(../fonts/olivier_demo.ttf);
}
@font-face{
    font-family: 'hvt';
    src: url(../fonts/HelveticaNeue-Thin.ttf);
}
/* header */
header{
    background:linear-gradient(rgba(255, 48, 41, 0.7) , rgba(255, 48, 41, 0.7)) , url(../imgs/Header.jpg);
    background-size: cover;
    padding-bottom: 50px;
    overflow: hidden;
}
.container{
    width: 75%;
    margin: 0 auto;
}
nav{
    width: 100%;
    padding-top: 20px;
}
a.brand{
    font-family: olivier;
    color: white;
    text-decoration: none;
    font-size: 52px;
}
nav ul {
    float: right;
    list-style: none;
}
nav li{
    display: inline-block;
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    transition: all 0.5s ease-in-out;
}
nav li:hover{
    cursor: pointer;
    border-bottom: 3px solid white;
    padding-bottom: 15px;
}
div.Header-row{
    margin-top: 50px;
    width: 100%;
}
div.Header-row::after{
    content: '';
    width: 100%;
    display: block;
    clear: both;
}
.col-1{
    float: left;
    width: 50%;
}
.col-2{
float: right;
width: 50%;
position: relative;
}
.col-1 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    color: white;
    line-height: 56.29px;
}
.col-1 p{
    font-family: 'hvt';
    font-size: 36px;
    color: white;
    line-height: 42px;
}
.col-1 a{
    text-decoration: none;
    color: white;
    background: #282828;
    padding: 18px 35px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
}
.col-1 a:hover{
    background: #111111;
}
.col-1 a .fa-mobile-alt{
    color: wheat;
    font-size: 25px;
}
.col-1 a span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16.69px;
    font-weight: bold;
    padding-left: 15px;
}.col-2 img{
    width: 90%;
    position: absolute;
    right: 0;
    top: 50px
}
/* app-features */
#app-features{
    width: 100%;
}
#app-features h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: bold;
    line-height: 29.92px;
    color: #8a8a8a;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
}
#app-features p{
    font-family: 'hvt';
    font-size: 22px;
    line-height: 32px;
    color: #3a3a3a;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
#app-features ul{
    width: 100%;
    margin-top: 100px;
    padding: 0;
    list-style: none;
}
#app-features ul li {
    width: 33%;
    display: inline-block;
    text-align: center;
}
#app-features ul li h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 18px;
    color: #1a1a1a;
}
#app-features ul li p{
    font-family: 'hvt';
    font-size: 18px;
    line-height: 26px;
    color: #646464;
}
/* banner section */
section#banner{
    padding-top: 50px;
    background: url(../imgs/banner.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}
section#banner h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    width: 646px;
}
section#banner h2 span{
    color: #f55150;
}
section#banner p{
    font-family: 'hvt';
    font-size: 24px;
    line-height: 36px;
    color: #585858;
    width: 380px;
    margin-bottom: 50px;
}
section#banner a{
    text-decoration: none;
    color: white;
    background-color: #d9332d;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 44px;
    border-radius: 50px;
}
/* footer */
footer{
    background: #2e2e38;
    padding: 50px 0;
    color: white;
}footer h3{
    font-family: 'olivier';
    font-size: 52px;
    line-height: 7.65px;
}
footer ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
footer ul li{
    width: 33%;
}
footer ul li h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 19.97px;
}
footer .rect{
    display: inline-block;
    width: 60px;
    height: 40px;
    background: #e74c3c;
    margin-right: 10px;
    margin-bottom: 10px;
}
footer span.rect + span{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
#sot span:first-of-type{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
#sot span:nth-of-type(2){
    display: block;
    font-family: 'hvt';
    font-size: 11px;
    line-height: 25.96px;
}
#sot p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 70%;
}
#sot span:last-of-type{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
#about p{
    font-family: 'hvt';
    font-size: 15px;
    line-height: 24px;
    font-style: italic;
    width: 70%;
}